<div class="container" id="common-section-footer">
	<div class="row">
		<div class="col-md-2">
			<div class="list-group">
				<a class="btn btn-link" href="home">About Reweb</a><br/>
				<a class="btn btn-link" href="home">List Your Property</a><br/>
				<a class="btn btn-link" href="home">Find an Agent</a><br/>
				<a class="btn btn-link" href="home">Register With Us</a><br/>
				<a class="btn btn-link" href="home">Contact Us</a><br/>
			</div>
		</div>
		<div class="col-md-2">
			<div class="list-group">
				<a class="btn btn-link" href="home">Download Forms</a><br/>
				<a class="btn btn-link" href="home">Talk to an Agent</a><br/>
			</div>
		</div>
		<div class="col-md-2">
			<div class="list-group">
				<a class="btn btn-link" href="home">Dubai</a><br/>
				<a class="btn btn-link" href="home">Abu Dhabi</a><br/>
				<a class="btn btn-link" href="home">Sharjah</a><br/>
				<a class="btn btn-link" href="home">Al Ain</a><br/>
			</div>
		</div>
		<div class="col-md-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<span>Copyright 2016 Reweb. All Rights Reserved.</span>
		</div>
	</div>
</div>
