<div class="panel panel-default box-shadow-3dp" id="property-section-details">
	<div class="panel-heading">Property Details</div>
	<div class="panel-body">
		
		<form>
		<!-- Property Details -->
		<div class="list-group">
			<div class="list-group-item">
				<div class="row">
					<label class="col-xs-4 col-sm-3">Listed Price</label>
					<div class="col-xs-8 col-sm-9">
						<input class="form-control" type="text" data-ng-model="property.listedPrice" />
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="row">
					<label class="col-xs-4 col-sm-3">Plot Area</label>
					<div class="col-xs-8 col-sm-9">
						<input class="form-control" type="text" data-ng-model="property.area" />
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="row">
					<label class="col-xs-4 col-sm-3">Built Area</label>
					<div class="col-xs-8 col-sm-9">
						<input class="form-control" type="text" data-ng-model="property.builtupArea" />
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="row">
					<label class="col-xs-4 col-sm-3">Bed Rooms</label>
					<div class="col-xs-8 col-sm-9">
						<input class="form-control" type="text" data-ng-model="property.bedRooms" />
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="row">
					<label class="col-xs-4 col-sm-3">Bath Rooms</label>
					<div class="col-xs-8 col-sm-9">
						<input class="form-control" type="text" data-ng-model="property.bathRooms" />
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="row">
					<label class="col-xs-4 col-sm-3">Facilities</label>
					<div class="col-xs-8 col-sm-9">
						<input class="form-control" type="text" data-ng-model="property.facilities" />
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="row">
					<label class="col-xs-4 col-sm-3">Street</label>
					<div class="col-xs-8 col-sm-9">
						<input class="form-control" type="text" data-ng-model="property.address.street" />
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="row">
					<label class="col-xs-4 col-sm-3">City</label>
					<div class="col-xs-8 col-sm-9">
						<input class="form-control" type="text" data-ng-model="property.address.city" />
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="row">
					<label class="col-xs-4 col-sm-3">State</label>
					<div class="col-xs-8 col-sm-9">
						<input class="form-control" type="text" data-ng-model="property.address.state" />
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="row">
					<label class="col-xs-4 col-sm-3">Postal Code</label>
					<div class="col-xs-8 col-sm-9">
						<input class="form-control" type="text" data-ng-model="property.postalCode" />
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="row">
					<label class="col-xs-4 col-sm-3">Posted By</label>
					<div class="col-xs-8 col-sm-9">
						<input class="form-control" type="text" data-ng-model="property.postedBy" />
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="row">
					<label class="col-xs-4 col-sm-3">Posted Date</label>
					<div class="col-xs-8 col-sm-9">
						<input class="form-control" type="text" data-ng-model="property.postedDate" />
					</div>
				</div>
			</div>
		</div>
	</form>
	</div>
</div>
