<div class="panel panel-default box-shadow-3dp" id="property-section-contact">
 	<div class="panel-heading">Contact &amp; Enquires</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form">
		
			<!-- Email Input Field -->
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Your Email</label>
				<div class="col-sm-10">
					<input class="form-control" type="email" id="email" placeholder="Enter email" required>
				</div>
			</div>
			
			<!-- Message Input Field TODO change this to a multiline input field  -->
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Message</label>
				<div class="col-sm-10">
					<textarea class="form-control span6" rows="3" placeholder="Enter your message" required></textarea>
				</div>
			</div>
			
			<!-- Notification Opt-in Checkbox -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label><input type="checkbox">Send Me Notifications</label>
					</div>
				</div>
			</div>
			
			<!-- Form Submit button -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10 text-right">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>
			</div>
			
		</form>
	</div>
</div>
