<div id="sidebar-container" id="property-section-sidenav">

	<!-- Navigation Bar -->
	<div class="list-group box-shadow-3dp">
		<a class="list-group-item active" href="#">Property</a> 
		<a class="list-group-item" href="#">Images</a> 
		<a class="list-group-item" href="#">Property Details</a>
		<a class="list-group-item" href="#">Realestate Agent</a>
		<a class="list-group-item" href="#">Enquiries</a> 
		<a class="list-group-item" href="#">Property Location</a> 
	</div>
	
	<!-- Similar Properties Bar -->
	<div data-ng-include="'resources/views/property/section_similar_properties.html'"></div>
	
</div>
