<div class="panel panel-default" id="main-panel">
	<div class="panel-heading" id="main-panel-heading">
		<div data-ng-include="'resources/views/section_navbar.html'"></div>
		<div data-ng-include="'resources/views/home/section_carousel.html'"></div>
		<div data-ng-include="'resources/views/home/section_filterbar.html'"></div>
	</div>
	<div class="panel-body" id="main-panel-body">
		<div data-ng-include="'resources/views/home/section_content.html'"></div>
	</div>
	<div class="panel-footer" id="main-panel-footer">
		<div data-ng-include="'resources/views/section_footerbar.html'"></div>
	</div>
</div>