
/* set navbar color */
#navbar-main {
   background-color: rgba(20,20,20,0.80);
   background: rgba(20,20,20,0.80);
   border-color: rgba(20,20,20,0.80);
}

#navbar-main a {
	color: rgb(255, 255, 255);
}

#navbar-main .dropdown-menu a {
	color: rgb(0, 0, 0);
}

/* set carousel height */
#carousel-inner-slide {
	max-height:600px;
}

/* remove carousel padding */
#panel-heading-main,
#panel-footer-main {
	padding: 0px;
	border: 0px;
}

/* remove main panel borders and margins */
#panel-main {
	border: 0px;
	margin: 0px;
}

#well-filter, #well-footer {
	margin: 0px;
	border: 0px;
	border-radius: 0;
}

#well-filter .row, 
#well-footer .row {
    margin: 0px auto;
}

/* set list's max width */
#container-list, 
#container-navbar, 
#well-filter .row, 
#well-footer .row {
	max-width: 1100px;
}

#container-list table {
	margin: 0px;
}

#container-list .row .well {
	padding: 4px;
}

#container-list .row .well .image {
	position: relative;
	display:inline-block;
}

#container-list .row .well .image .dropdown {
	margin: 4px;
	position: absolute;
	right: 0px;
}

#search-modal-1 .form-control {
	margin-bottom: 10px;
}

#search-modal-1 .form-control:last-child {
	margin-bottom: 0px;
}

#well-footer .row {
	padding: 8px;
	/* font-size: 16px; */
}
