body>.panel {
	margin-bottom: 0px;
	border: 0px;
}

#main-panel-heading {
	padding: 0px;
	border: 0px;
}

#main-panel-footer {
	border: 0px;	
}

#main-panel-heading,
#main-panel-footer {
	padding-left: 0px;
	padding-right: 0px;
}

#filter-container{
	padding: 15px;
}

.box-shadow-3dp {
	-webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.box-shadow-3dp-inv {
	-webkit-box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

#list-container .thumbnail {
	border: 0px;
	border-radius: 0;
}

#footer-container a {
	
}

#list-container .row .image {
	position: relative;
	display:inline-block;
}

#list-container .row .image .dropdown {
	margin: 4px;
	position: absolute;
	right: 0px;
}

#list-container .row .image .dropdown .btn {
	border: 0px;
}

/* Pagination custom theme */
.pagination>li>a,
.pagination>li>span {
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover
 {
	border: 1px solid rgb(204, 204, 204);
	background: rgb(204, 204, 204);
	color: rgb(255, 255, 255);
}
.pagination>li>a:hover{
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
}